@use "./variables.scss" as *;

@font-face {
  font-family: "SUIT Variable";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "STIX Two Math";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/stixtwomath/v12/pONg1hwwL_6M9EkZySr_yteUi1o.ttf")
    format("truetype");
}

@font-face {
  font-family: "STIX Two Text";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/stixtwotext/v18/YA9Gr02F12Xkf5whdwKf11l0jbKkeidMTtZ5Yihg2SOY.ttf")
    format("truetype");
}

@font-face {
  font-family: "STIX Two Text";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/stixtwotext/v18/YA9Gr02F12Xkf5whdwKf11l0jbKkeidMTtZ5YihS2SOY.ttf")
    format("truetype");
}

@font-face {
  font-family: "STIX Two Text";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/stixtwotext/v18/YA9Gr02F12Xkf5whdwKf11l0jbKkeidMTtZ5Yii-3iOY.ttf")
    format("truetype");
}

@font-face {
  font-family: "STIX Two Text";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/stixtwotext/v18/YA9Gr02F12Xkf5whdwKf11l0jbKkeidMTtZ5YiiH3iOY.ttf")
    format("truetype");
}

:root {
  --bodyFont: "SUIT Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --headerFont: "SUIT Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --codeFont: "Google Sans Code", "SFMono-Regular", Consolas, monospace;
  --mathFont: "STIX Two Math", "STIX Two Text", serif;
}

body,
button,
input,
textarea,
select {
  font-size: 0.94rem;
}

pre,
code {
  font-family: var(--codeFont);
  font-size: 1em;
}

.katex .mathnormal,
.katex .mathrm,
.katex .text,
.katex .mord:not(:has(*)) {
  font-family: var(--mathFont);
}

.katex .mrel,
.katex .mrel * {
  font-family: KaTeX_Main, "Times New Roman", serif !important;
}

.katex .amsrm {
  font-family: KaTeX_AMS, KaTeX_Main, "Times New Roman", serif !important;
}

.note-properties,
.explorer-content li:has(> a[href="/"]),
.explorer-content li:has(> a[href="/index"]),
.explorer-content li:has(> a[href="/index.html"]) {
  display: none;
}

.recent-notes > h3 {
  display: none;
}
